{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="popover-title">Création du profile</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success pull-right" value="Valider" />
    {{ form_end(form) }}
{% endblock %}
