{% extends 'base.html.twig' %}

{% block body %}
    <h3>Création</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-success pull-right" type="submit" value="Ajouter" />
    {{ form_end(form) }}
    <a href="{{ path('Qcm_index') }}" class="btn btn-danger pull-right">Retour</a>
{% endblock %}
