{% extends 'base.html.twig' %}
{% block body %}
	 <div class="container">
            <h1 class="display-3">Conditions d’utilisation de Recrutable</h1>
            <p>Bienvenue, et merci d’utiliser Recrutable ! Lorsque vous utilisez nos produits et services, vous acceptez nos Conditions d’utilisation. Veuillez donc prendre quelques minutes pour les lire ci-dessous.
			Attention ! Vous êtes sur le point de conclure un contrat qui vous engage.</p>

			<h3 class="display-4">1 - Introduction</h3>
			<p><small>Nous sommes un réseau social et une plateforme de recrutement en ligne pour les professionnels.</small></p>

			<h3 class="display-4">1.1 - Objet </h3>
			<p><small>Recrutable a pour mission de connecter les professionnels du monde entier afin d’améliorer leur productivité et de faciliter leur réussite. Nos services sont conçus dans le but de promouvoir les opportunités économiques de nos membres en vous permettant ainsi qu’à des millions d’autres professionnels de chercher des opportunités ou des employés, du travail et de prendre des décisions dans le cadre d’un réseau de relations de confiance.</small></p>

			<h3 class="display-4">1.2 - Contrat</h3>
			<p><small> Lorsque vous utilisez nos services concluez un contrat dont vous acceptez toutes les conditions.
			De même, vous acceptez notre Politique de confidentialité qui décrit la manière dont nous collectons, utilisons, partageons et stockons vos données personnelles.
			Vous acceptez qu’en cliquant sur “S’inscrire” qu’en vous inscrivant, en accédant ou en utilisant nos services, nos plateformes de développeurs, ou tous les contenus et données fournis dans le cadre de ces services, collectivement désignés comme les “Services”), vous concluez un contrat ayant force obligatoire (même si vous utilisez nos services pour le compte d’une société). </small></p>

			<h3 class="display-4"> Mentions légales </h3>
			<blockquote class="blockquote">
				<p><small>Pour un entrepreneur individuel : nom, prénom, domicile</small></p>
				
				<p><small>Pour une société : raison sociale, forme juridique, adresse de l'établissement ou du siège social (et non pas une simple boîte postale), montant du capital social</small></p>
			
				<p><small>Adresse de courrier électronique et numéro de téléphone</small></p>
			
				<p><small>Pour une activité commerciale : numéro d'inscription au registre du commerce et des sociétés (RCS)</small></p>
			
				<p><small>Pour une activité artisanale : numéro d'immatriculation au répertoire des métiers (RM)</small></p>
			
				<p><small>En cas d'activité commerciale : numéro individuel d'identification fiscale numéro de TVA intracommunautaire</small></p>
			
				<p><small>Pour une profession réglementée : référence aux règles professionnelles applicables et au titre professionnel</small></p>
			
				<p><small>Nom et adresse de l'autorité ayant délivré l'autorisation d'exercer quand celle-ci est nécessaire</small></p>
			
				<p><small>Nom du responsable de la publication</small></p>
			
				<p><small>Coordonnées de l'hébergeur du site : nom, dénomination ou raison sociale, adresse et numéro de téléphone</small></p>
				
				<p><small>Pour un site marchand, conditions générales de vente (CGV) : prix (exprimé en euros et TTC), frais et date de livraison, modalité de paiement, service après-vente, droit de rétractation, durée de l'offre, coût de la technique de communication à distance</small></p>
			
				<p><small>Numéro de déclaration simplifiée Cnil, dans le cas de collecte de données sur les clients (non obligatoire, mais recommandé).</small></p>
			</blockquote>
        </div>
{% endblock %}