{% extends 'base.html.twig' %}
{% block body %}
	<h1 class="display-3">Contact</h3>

	<p><small>Louis-Axel VIALA</small></p>
	<p><small>Tel. : 06 06 06 06 06</small></p>
	<p><small>Adresse : 93 rue de Fontarabie</small></p>
	<p><small>Mail : Recrutable@gmail.com</small></p>

	<h1 class="display-3">L'équipe</h3>

	<img src="../images/equipe.JPG" alt="L'équipe" width="128" height="128">
{% endblock %}