{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/T7kQ7HDAeI0?autoplay=1" frameborder="0" allowfullscreen></iframe>
            <h1 class="display-3">Bienvenue sur Recrutable !</h1>
            <p>Recrutable est une application qui permet de mettre en relation des entreprises et des personnes en recherche d'emplois. Les entreprises peuvent faire passer des tests de compétences et de personnalité aux candidats ce qui leurs permet de sélectionner les candidats répondant le plus à leur attentes. Cela permet aussi au candidat de prouver leurs compétences et leurs motivations !</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('fos_user_registration_register') }}" role="button">S'inscrire »</a></p>
        </div>
       
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2><font color="white">Entreprise A</font></h2>
                <p><font color="grey">Nous recherchons un développeur Web ayant des compétences en PHP-Symfony 2 ainsi qu'en jQuery pour refaire notre site internet </font></p>
                <p><a class="btn btn-primary" href="http://v4-alpha.getbootstrap.com/examples/jumbotron/#" role="button">Postuler »</a></p>
            </div>

            <div class="col-md-4">
                <h2><font color="white">Entreprise B</font></h2>
                <p><font color="grey">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </font></p>
                <p><a class="btn btn-primary" href="http://v4-alpha.getbootstrap.com/examples/jumbotron/#" role="button">Postuler »</a></p>
            </div>

            <div class="col-md-4">
                <h2><font color="white">Entreprise C</font></h2>
                <p><font color="grey">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</font></p>
                <p><a class="btn btn-primary" href="http://v4-alpha.getbootstrap.com/examples/jumbotron/#" role="button">Postuler »</a></p>
            </div>
        </div>
    </div>
{% endblock %}