# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:

    # L'encodage des password
    encoders:
        OCUserBundle\Entity\User: sha512
    
    # la hierachie des roles
    role_hierarchy:
        # Un admin hérite des droits de chomeur et d'entreprise
        ROLE_ADMIN:       [ROLE_CHOMEUR, ROLE_ENTREPRISE]

        # Le super admin a, en plus, la possibilité de changer de role
        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]
    
    # Gestion des droits sur l'url par role
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        
    # Gestion du provider de comptes
    providers:
        providerLoadFromBdd:
            id: fos_user.user_provider.username

    # Gestion de l'authentification
    firewalls:
        # Désactive l'authentification pour les assets et le profiler
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        # Désactive l'authentification pour la page d'index, de login, et d'inscription
        main_login:
            pattern: ^/(|login)$
            anonymous: true

        # Active l'authentification pour le reste du site
        main:
            pattern: ^
            anonymous: false
            provider:  providerLoadFromBdd
            logout: true
            # Redirection vers le formulaire de connexion
            form_login:
                login_path: fos_user_security_login
                check_path: fos_user_security_check
            logout:
                path:       /logout
                target:     /

    access_control:
            - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }